<%= form_for @new_url do |f| %>
  <%= f.label :long_form %>:
  <%= f.text_field :long_form %>
  <%= f.submit %>
<% end %>

<% @all_urls.each do |url| %>
  <ul>
    <li><%= url.long_form %></li>
  </ul>
<% end %>