<%= form_for @new_url do |f| %>
  <%= f.text_field :long_form %>
  <%= f.submit %>
<% end %>

<% @all_urls.each do |url| %>
  <ul>
    <li><%= url.long_form %>: <%=link_to "#{@base_url}#{url.short_form}", "#{@base_url}#{url.short_form}"%></li>
  </ul>
<% end %>