<div class="jumbotron">
  <center>
    <div class="form">
      <%= bootstrap_form_for @new_url, layout: :inline do |f| %>
        <%= f.text_field :long_form, class: "enlarge-form", size: "55", hide_label: :true, placeholder: "Paste your URL here" %>
        <%= f.submit "Shorten URL", class: "btn btn-success enlarge-btn"%>
      <% end %>
    </div> 
  </center>
</div>

<div class="tables">
  <div>
    <h1>Most Recent</h1>
    <table class="table table-striped table-bordered">
      <tr>
        <th>Original Url</th>
        <th>Short Url</th> 
        <th>Visit Count</th>
      </tr>
      <% @last5.each do |url| %>
        <tr>
          <td><%= url.long_form %></td>
          <td><%=link_to "#{@base_url}#{url.short_form}", "#{@base_url}#{url.short_form}", :target => "_blank"%></td>
          <td><%= url.access_count %></td>
        </tr>
      <% end %>
    </table>
  </div><br>

  <div>
    <h1>Top 100</h1>
    <table class="table table-striped table-bordered">
      <tr>
        <th>Original Url</th>
        <th>Short Url</th> 
        <th>Visit Count</th>
      </tr>
      <% @top100.each do |url| %>
        <tr>
          <td><%= url.long_form %></td>
          <td><%=link_to "#{@base_url}#{url.short_form}", "#{@base_url}#{url.short_form}", :target => "_blank"%></td>
          <td><%= url.access_count %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>